<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oceans ML</title>
        <!--import bootstrap dependency-->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

    <!--import popper js-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <!--import bootswatch theme. see api: https://bootswatch.com/api/5.json-->
        <!-- =<link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css" > -->

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin="" />

        <!-- Leaflet JavaScript code -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <!-- D3 JavaScript -->
        <script src="https://d3js.org/d3.v5.min.js"></script>

          <!-- Leaflet plugin-->
        <script type="text/javascript" src="static/js/leaflet.extra-markers.min.js"></script>
        <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
        
        <script type="text/javascript" src="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.11.4/dist/leaflet-geoman.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.11.4/dist/leaflet-geoman.css">

        <script src="static/js/openweathermap.js"></script>
        <link rel="stylesheet" href="static/css/leaflet-openweathermap.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div class="row titlebar">
    <div>
      <span>Oceans ML: <em>Predictive Modeling on Ocean Data</em></span>
    </div>
  </div>
      
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Oceans ML</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Background
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/key">Key</a></li>
                  <li><a class="dropdown-item" href="/process">The Process</a></li>
                  <li><a class="dropdown-item" href="/sources">Data Sources</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item active" href="#">Fishing by Country</a></li>
                  <li><a class="dropdown-item" href="/eutrop">Eutrophication</a></li>
                  <li><a class="dropdown-item" href="/debris">Marine Debris</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Prediction
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/predict">Fishing and Fish Population</a></li>
                  <li><a class="dropdown-item" href="#">Indirect Effects of Human Activity</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;">
              <li class="nav-item" style="width: 100%;">
                <p class="group">© 2022 <a href="/team">Steph, Enne, Tomas, Elliott</a></p>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="row">
        <div class = "col-md-6">
          <p style = "text-align: center;">Toggle the settings on the map below to explore our oceans. See the ocean currents, temperature, and eutrophication. Do you see any patterns? </p>
        </div>
        <div class = "col-md-3 justify-content-center">
          <p style = "text-align: center;"></p>
        </div>
        <div class = "col-md-2">
          <p style = "text-align: center;"></p>
        </div>
      </div>
      <div class="row" id="map-holder">
        <!-- The div where we'll insert our map -->
        <div id="map" class="col-md-6"></div>
        <div class="col-md-5" id="data">
          <div>
            <h3>Map Explanations</h3>
            <p>
            <b>Eutrophication Map</b>: This is a map showing eutrophication in our oceans. Eutrophication is frequently caused by runoff from the land, and causes death of animal life from lack of oxygen.<br /><br />
            <b>Eutrophic</b>: A body of water rich in nutrients, supporting dense plant population. This blocks off sunlight and causes other plant life to decompose. The loss of other plants leads to a loss of animals. As these plants and animals decompose, they emit CO<sub>2</sub>, further depriving the area of oxygen, killing marine life in the area and creating “dead zones”. 
            <br /><br />
            <b>Hypoxic</b>: Water that is hypoxic is low in oxygen, with dissolved oxygen concentrations of less than 2-3 mg/L. This can occur naturally due to differences in salinity, especially between rivers and oceans. However, it is increasingly caused by an excess of nutrients from humans that can lead to eutrophication. 
            <br /><br />
            <b>Improved</b>: This area is improving due to local government efforts to improve runoff infrastructure or improved waterflow.  <br /><br />
            </p>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="static/js/eutrop.js"></script>
  
</body>
</html>