<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oceans ML</title>
        <!--import bootstrap dependency-->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

    <!--import popper js-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="row titlebar">
        <div>
          <span>Oceans ML: <em>Predictive Modeling on Ocean Data</em></span>
        </div>
      </div>
      
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Oceans ML</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Background
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item active" href="#">Key</a></li>
                  <li><a class="dropdown-item" href="/process">The Process</a></li>
                  <li><a class="dropdown-item" href="/sources">Data Sources</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/direct">Fishing by Country</a></li>
                  <li><a class="dropdown-item" href="/eutrop">Eutrophication</a></li>
                  <li><a class="dropdown-item" href="/debris">Marine Debris</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Prediction
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/predict">Fishing and Fish Population</a></li>
                  <li><a class="dropdown-item" href="/predict">Indirect Effects of Human Activity</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;">
              <li class="nav-item" style="width: 100%;">
                <p class="group">© 2022 <a href="/team">Steph, Enne, Tomas, Elliott</a></p>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      
      <div class="row" id="map-holder">
        <!-- The div where we'll insert our map -->
        <div class="col-md-6 defs">
          <p><b>FAO Fishing Areas</b>: FAO is an acronym for the Food and Agriculture Organization. This organization has defined the fishing zones. These zones can be seen on FAO's website <a href="https://www.fao.org/fishery/en/area/search" target="_blank">here</a>.<br />
          </p>
    
        </div>
        <div class="col-md-5 defs">
            <h3>Boating/Fishing Terms</h3>
            <p>
              <b>Trawler</b>: Commercial fishing boats which drag nets through the water to trap fish. This fishing method often leads to catching and killing ocean life not meant to be fished.<br /><br />
              <b>Troller</b>: These fishing boats operate by allowing a line out with bait and using the current or motor power to pull the bait to attract fish.<br /><br />
              <b>Pole and Line</b>: Boats where fishermen are using traditional pole and line fishing techniques.<br /><br />
              <b>Purse Seine</b>: This is a large wall of netting dropped into the water around an entire school of fish.<br /><br />
              <b>Drifting Longlines</b>: Vessels fishing with a drifting longline have a main line kept near the surface with many lines with baited hooks spaced evenly across it. <br /><br />
              <b>AIS</b>: Automatic Identification System. Developed as a technology to avoid collisions among large sea vessels.<br /><br />
              <b>MMSI</b>: Maritime Mobile Service Identity, an identifier for AIS.<br />
              
          </p>
        </div>
      </div>
</body>

</html>