<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oceans ML</title>
        <!--import bootstrap dependency-->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

    <!--import popper js-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <!--import bootswatch theme. see api: https://bootswatch.com/api/5.json-->
        <!-- =<link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css" > -->



    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Oceans ML</h1>
          <p>Machine Learning on Ocean Data</p>
        </div>
      </div>
      
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Oceans ML</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Background
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/key">Key</a></li>
                  <li><a class="dropdown-item" href="/process">The Process</a></li>
                  <li><a class="dropdown-item" href="/sources">Data Sources</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/direct">Fishing and Fish Population</a></li>
                  <li><a class="dropdown-item" href="/indirect">Indirect Effects of Human Activity</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Prediction
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/direct">Fishing and Fish Population</a></li>
                  <li><a class="dropdown-item" href="/indirect">Indirect Effects of Human Activity</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;">
              <li class="nav-item" style="width: 100%;">
                <p class="group">© 2022 <a href="https://github.com/ennegineer/oceans" target="_blank">Steph, Enne, Tomas, Elliott</a></p>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Country:</h5>
            <select
              id="selDataset"
              onchange="optionChanged(this.value)"
            ></select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Demographic Info</h3>
            </div>
            <div id="sample-metadata" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
        <div class="col-md-5">
          <div id="gauge"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="bubble"></div>
        </div>
      </div>

      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="static/js/predict.js"></script>
</body>
</html>