<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oceans ML</title>

    <!--import bootstrap dependency-->
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!--import popper js-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
<div class="row">
  <div class="col-md-12 jumbotron text-center">
    <h1>Oceans ML</h1>
    <p>Machine Learning on Ocean Data</p>
  </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Oceans ML</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Background
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/key">Key</a></li>
            <li><a class="dropdown-item active" href="#">The Process</a></li>
            <li><a class="dropdown-item" href="/sources">Data Sources</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Analysis
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/direct">Fishing and Fish Population</a></li>
            <li><a class="dropdown-item" href="/indirect">Indirect Effects of Human Activity</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Prediction
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/predict">Fishing and Fish Population</a></li>
            <li><a class="dropdown-item" href="#">Indirect Effects of Human Activity</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">Data</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;">
        <li class="nav-item" style="width: 100%;">
          <p class="group">© 2022 <a href="/team">Steph, Enne, Tomas, Elliott</a></p>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="row" id="map-holder">
    <!-- The div where we'll insert our map -->
    <div class="col-md-6 defs">
        <h3>The Concept</h3>
        <p>
        We wanted to explore any data we could find on our oceans. As we began our search for data, we realized that there is <em>so much </em>out there! We had to hone in on more specific topics to look for data efficiently. <br/><br/>We decided to focus on the human impact on our oceans - or more specifically, eutrophication in coastal regions due to agricultural runoff, and how commercial fishing might be affecting fish populations and trash accumulation in the oceans. <br /><br />
      </p>
  
      <h3>Sourcing and Transforming Data</h3>
      <p>
      Commercial fishing vessel data was found via <a href="https://globalfishingwatch.org/" target="_blank">Global Fishing Watch</a>, a site with a purpose to create and publicly share data about human activity at sea. We created a Python script using Pandas to remove unnecessary columns of data, duplicated entries and false positives, then create separate .json files for the types of vessels and each one within the types. 
      <br /><br />Marine debris data was found through Debristracker, a site whose main mission is to track marine debris which helps to collect and build a large dataset that assists researchers to help tackle the plastic-pollution problem.  We gathered data from 2012 to 2022 from all organizations that inputted data into the database , which generated more than 1.3 million data points across 4 different .csv files (2012-2014, 2015-17, 2018-2020, and 2021-2022) that had to be filtered, cleaned, and then merged. We used python code utilizing pandas to remove any unnecessary columns of the data, assign appropriate data types, remove values that were duplicated and of null values, and stripped the space on the data appropriately. We lastly created a .json file showing the cleaned data to be used for the creation of other visuals. <br />
    </p>
    </div>
    <div class="col-md-5 defs">
      <h3>Visualizations</h3>
      <p>
          We leveraged the flexibility of several JavaScript plugins to modify markers and cluster data on maps.  With large datasets with many individual points, we used Turf.js, a secondary library for advanced geospatial analysis to algorithmically clean and smooth the data into cleaner lines. Colors schemes were created using ColorBrewer which is a swatch site specialized for maps and modified for personal use.
          <br /><br />
          We created the material and quantity time series visual utilizing the plotly.express module with the cleaned marine debris data and taking a sum of the data grouped by the material and quantity sorted by the year in ascending order. The material and radius time series visual was made using the same plotly.express module with the cleaned marine debris data and taking a sum of the radius data grouped by material only and then sorted by the year in ascending order.<br/><br/><br />
    </p>
  
        <h3>Predicting the Unknown</h3>
        <p>
          Once we had an understanding of our datasets, we decided to look forward. Using machine learning techniques, we made predictive models to try to understand what our oceans and oceanic life may face in the future.<br />
          
      </p>
    </div>
  </div>
</body>

</html>