<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oceans ML</title>

    <!--import bootstrap dependency-->
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!--import popper js-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<>
<div class="row">
  <div class="col-md-12 jumbotron text-center">
    <h1>Oceans ML</h1>
    <p>Machine Learning on Ocean Data</p>
  </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Oceans ML</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Background
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/key">Key</a></li>
            <li><a class="dropdown-item" href="/process">The Process</a></li>
            <li><a class="dropdown-item" href="/sources">Data Sources</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Analysis
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/direct">Fishing and Fish Population</a></li>
            <li><a class="dropdown-item" href="/indirect">Indirect Effects of Human Activity</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Prediction
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/predict">Fishing and Fish Population</a></li>
            <li><a class="dropdown-item" href="#">Indirect Effects of Human Activity</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">Data</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;">
        <li class="nav-item" style="width: 100%;">
          <p class="group">© 2022 <a href="#" target="_blank">Steph, Enne, Tomas, Elliott</a></p>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-2 defs"></div>
  <div class="col-md-4 defs">
      <h3>Meet our Team!</h3><br/>
      <h5>Enne</h5>
      <img src="{{teams['ennegineer'].avatar_url}}" height="250px">
      <p>
      <a href="{{teams['ennegineer'].html_url}}" target="_blank">{{teams['ennegineer'].login}}</a><br/>
      Location: {{teams['ennegineer'].location}}<br/>
      Bio: {{teams['ennegineer'].bio}}<br/>
      Public repos: {{teams['ennegineer'].public_repos}}<br/>
    </p>
    <br/>
    </div>
    <div class="col-md-4 defs">
        <h3> &nbsp;</h3><br/>
        <h5>Steph</h5>
        <img src="{{teams['stephbanh'].avatar_url}}" height="250px">
        <p>
        <a href="{{teams['stephbanh'].html_url}}" target="_blank">{{teams['stephbanh'].login}}</a><br/>
        Location: {{teams['stephbanh'].location}}<br/>
        Bio: {{teams['stephbanh'].bio}}<br/>
        Public repos: {{teams['stephbanh'].public_repos}}<br/>
      </p>
      <br/>
    </div>
    <div class="col-md-3 defs"></div>
</div>
<div class="row">
    <div class="col-md-2 defs"></div>
    <div class="col-md-4 defs">
        <h5>Tomas</h5>
        <img src="{{teams['tobisan4'].avatar_url}}" height="250px">
        <p>
        <a href="{{teams['tobisan4'].html_url}}" target="_blank">{{teams['tobisan4'].login}}</a><br/>
        Location: {{teams['tobisan4'].location}}<br/>
        Bio: {{teams['tobisan4'].bio}}<br/>
        Public repos: {{teams['tobisan4'].public_repos}}<br/>
      </p>
      <br/>
      </div>
    <div class="col-md-4 defs">
    <h5>Elliott</h5>
    <img src="{{teams['elliott-dev'].avatar_url}}" height="250px">
    <p>
    <a href="{{teams['elliott-dev'].html_url}}" target="_blank">{{teams['elliott-dev'].login}}</a><br/>
    Location: {{teams['elliott-dev'].location}}<br/>
    Bio: {{teams['elliott-dev'].bio}}<br/>
    Public repos: {{teams['elliott-dev'].public_repos}}<br/>
  </p>
  </div>
  <div class="col-md-3 defs"></div>
</div>
</body>

</html>